<div id="popular-posts" style="color: {{ section.settings.text_color }}">
    <div class="container">
        <div class="row g-0">
            {% if section.settings.tag == '' %}

                {% assign tag = section.settings.tag %}
            {% else %}
                {% assign tag = '' %}
            {% endif %}
            {% paginate posts.tag by 5 published_at desc %}

                {% for post in posts %}
                    {% if forloop.index == 1 %}
                        <div onclick="window.location.href = '{{ post.url }}'" class="col-sm-5 bg popular-post first-post d-flex" style="background-image: url({{ post.image_url | resize: '800x800' }});">
                            <div class="popular-posts_overlay d-flex flex-fill flex-column justify-content-end">
                                <p class="popular-posts_date">{{ post.published_at | date: "%b %d, %y" }}</p>
                                <h4 class="popular-posts_title">{{ post.title }}</h4>
                            </div>
                        </div>
                    {% elsif forloop.index > 1 %}
                        {% if forloop.index == 2 %}
                            <div class="col-sm-7">
                            <div class="row g-0">
                        {% endif %}
                        <div onclick="window.location.href = '{{ post.url }}'" class="col-sm-6 bg popular-post d-flex" style="background-image: url({{ post.image_url | resize: '400x400' }});">
                            <div class="popular-posts_overlay d-flex flex-column flex-fill justify-content-end">
                                <p class="popular-posts_date">{{ post.published_at | date: "%b %d, %y" }}</p>
                                <h4 class="popular-posts_title">{{ post.title }}</h4>
                            </div>
                        </div>
                        {% if forloop.index == 5 %}
                            </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endpaginate %}
        </div>
    </div>
</div>
{% styles %}
#popular-posts {
cursor: pointer;
}
#popular-posts .bg {
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}
#popular-posts .popular-post {
height: 270px;
}
#popular-posts .first-post {
height: 540px;
}
.popular-posts_overlay {
padding: 20px 30px;
transition: padding 0.5s ease;
}
.popular-posts_overlay:hover {
background-color: rgba(79,121,41,0.5);
padding-bottom: 40px;
transition: padding 0.5s ease;
box-shadow: 0 12px 24px 0 rgb(0 0 0 / 30%);

}
.popular-posts_date {
font-size: {{ section.settings.date_size }}px;
}
.popular-posts_title {
font-size: {{ section.settings.title_size }}px;
}
.popular-posts_title::after {
content: '';
position: absolute;
left: 0;
bottom: 0;
width: 40px;
height: 2px;
background-color: #FFF;
}
{% endstyles %}

{% schema %}
{
"name": "Popular Posts",
"description": "A list of popular posts. One main post on the left with 4 other posts to the right. Can list 5 latest post or enter a tag slug to only pull in specific posts",
"settings": [
{
"type": "text",
"id": "tag",
"label": "Tag",
"default": ""
},
{
"type": "color",
"id": "text_color",
"label": "Text Color",
"default": "#FFFFFF"
},
{
"type": "color",
"id": "bg_color",
"label": "Overlay Color",
"default": "#4f7929"
},
{
"type": "range",
"id": "date_size",
"label": "Date Size",
"default": 18,
"min": 10,
"max": 22,
"step": 1
},
{
"type": "range",
"id": "title_size",
"label": "Title Size",
"default": 36,
"min": 25,
"max": 40,
"step": 1
}
]
}
{% endschema %}